.offer-block {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width:100%;
    .item {
        text-align: center;
        img {
            width:50%;
            height:auto;
        }

        
    }
    
}
