   
  .item-slider{
     overflow:hidden; 
     width: 70%;  /*img width*/
     height:308px;  /*img half - height+padding*/
     position: relative; 
     display: inline-block; 
     border:5px solid $text-color;
     border-radius:5px;
     box-shadow: 2px 7px 5px #0c0c0c;
     
     #carusel {
    position: absolute;
    top: 0px; 
    left:0px;
    display:block;
    height:50px;
    padding: 0px; 
    margin: 0px;
    li{ 
    position:  relative;
    margin: 0px;
    width: 770px; /*img width*/
    height:570px; /*img height*/
    float: left;
    text-align: center;
    display: block;
    div{
    margin: 0px;
    box-sizing: border-box;
    height: 50%;
    width: 100%;
    line-height: 180px;
  }
  }
  }
  }
