@import url('https://fonts.googleapis.com/css?family=Abel');
@font-face {
    font-family: Agilis;
    /* Имя шрифта */
    src: url(../fonts/agilis.ttf);
    /* Путь к файлу со шрифтом */
}

$text-color:#4ad583;
$text-size:21px;
$general-width:100%;
$primary-font:'Abel',
sans-serif;
$logo-font: Agilis,
serif;
$link-active:#dee7d5;
$title-size:58px;
$decor-text:capitalize;
$secondary-color:#212121;